.box {
  margin-top: 3rem;
  background: $white;
  border-radius: .75rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

  &-header {
    margin-bottom: 1rem;
  }

  &-body {
    margin: 1rem 0 ;
  }

  &-footer {
    padding: 1rem;
    text-align: center;
  }
}
