@font-face {
  font-family: "iranyekan";
  font-style: normal;
  src: url('../fonts/iranyekanwebregularfanum.eot');
  src: url('../fonts/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/iranyekanwebregularfanum.svg') format('svg'),
  url('../fonts/iranyekanwebregularfanum.woff') format('woff');
  font-display: swap;
}
